<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyyft.noteeverything"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />  
    <application
        android:name="com.hyyft.noteeverything.global.NoteGlobal"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />
		
        
        <activity
            android:name="com.hyyft.noteeverything.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hyyft.noteeverything.planactivity.CalendarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hyyft.noteeverything.plan.AddPlanActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hyyft.noteeverything.plan.TagActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.hyyft.noteeverything.plan.AddBigTagActiviity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hyyft.noteeverything.plan.AddLittleTagActiviity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hyyft.noteeverything.plan.DialogActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hyyft.noteeverything.dowhat.AddDoItem_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hyyft.noteeverything.dowhat.TagActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hyyft.noteeverything.dowhat.ModifyDoItem_Activity"
            android:label="@string/app_name" >
        </activity>
        <service
            android:name="com.hyyft.noteeverything.service.InitService"
            android:label="@string/app_name" >
        </service>
        <service
            android:name="com.hyyft.noteeverything.service.MainService"
            android:label="@string/app_name" >
        </service>
        
        <!-- 系统启动后自动自动一个服务 -->
        <receiver android:name="com.hyyft.noteeverything.broadcastreceiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
</application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Test_MyApp"
        android:targetPackage="com.hyyft.noteeverything" >
    </instrumentation>

</manifest>